.header_nav_experiencia {
    text-decoration: underline;
}

.experiencia_container {
    height: 100%;
    justify-content: flex-start;
}

.experiencia_corpo {
    width: 100%;
}

.experiencia_apresentacao_titulo {
    font-size: clamp(1.3rem, 6vw, 4rem);
    margin-bottom: 15px;
    color: var(--cor-texto);
    font-family: var(--fonte-titulo);
}

.experiencia_1, .experiencia_2 {
    margin-bottom: 15px;
    color: var(--cor-texto);
    font-family: var(--fonte-corpo);
    margin-bottom: 100px;
}

h2 {
    font-size: clamp(0.9rem, 4vw, 2rem);

}
h3 {
    font-size: clamp(0.5rem, 4vw, 1.5rem);
}